project:
  type: website
  render:
    - "*.qmd"
    - "!slides/" # don't knit slides when website is updated
    - "!files/"
  resources:
    - "files/"
    - "slides/"
    - "images/"

website:
  title: "ECON 306 — Microeconomic Analysis"
  favicon: "images/micro_hex.png"
  open-graph: true
  twitter-card: true
  image: "images/micro_hex.png"
  navbar:
    pinned: true
    search: true
    logo: "images/micro_hex.png"
    right:
      - syllabus.qmd
      - schedule.qmd
      - text: Content
        href: content/index.qmd
      - text: Assignments
        href: assignments/index.qmd
      - text: Resources
        href: resources/index.qmd
  sidebar:
    - title: "Content"
      style: "docked"
      search: false
      contents:
        - section: "Overview"
          contents: 
            - content/index.qmd
        - section: "I. Rational Choice Theory: Consumers"
          contents: 
            - text: "1.1 — The Tools of Microeconomics"
              href: content/1.1-content.qmd
            - text: "1.2 — Budget Constraint"
              href: content/1.2-content.qmd
            - text: "1.3 — Preferences"
              href: content/1.3-content.qmd
            - text: "1.4 — Utility Maximization"
              href: content/1.4-content.qmd
            - text: "1.5 — Demand"
              href: content/1.5-content.qmd
            - text: "1.6 — Income and Substitution Effects"
              href: content/1.6-content.qmd
            - text: "1.7 — Price Elasticity of Demand"
              href: content/1.7-content.qmd
        - section: "II. Rational Choice Theory: Producers"
          contents: 
            - text: "2.1 — Production & Firms"
              href: content/2.1-content.qmd
            - text: "2.2 — Production Technology"
              href: content/2.2-content.qmd
            - text: "2.3 — Cost Minimization"
              href: content/2.3-content.qmd
            - text: "2.4 — Costs of Production"
              href: content/2.4-content.qmd
            - text: "2.5 — Short Run Profit Maximization"
              href: content/2.5-content.qmd
            - text: "2.6 — Long Run Industry Equilibrium"
              href: content/2.6-content.qmd
        - section: "III. Market Equilibrium"
          contents: 
            - text: "3.1 — The Supply and Demand Model"
              href: content/3.1-content.qmd
            - text: "3.2 — Market Competition and Surpluses"
              href: content/3.2-content.qmd
            - text: "3.3 — The Static Benefits of Markets: Welfare Economics & Market Failure"
              href: content/3.3-content.qmd
            - text: "3.4 — The Dynamic Benefits of Markets: Entrepreneurship, Profits, & Prices"
              href: content/3.4-content.qmd
            - text: "3.5 — Introduction to Political Economy"
              href: content/3.5-content.qmd
        - section: "IV. Imperfect Competition"
          contents: 
            - text: "4.1 — Modeling Firms with Market Power"
              href: content/4.1-content.qmd
            - text: "4.2 — Consequences and Sources of Market Power"
              href: content/4.2-content.qmd
            - text: "4.3 — Pricing Strategies"
              href: content/4.3-content.qmd
            - text: "4.4 — Monopolistic Competition & Oligopoly"
              href: content/4.4-content.qmd
    - title: "Practice"
      style: "docked"
      search: false
      contents:
        - text: "1.2 — Budget Constraint"
          href: practice/1.2-practice.qmd
        - text: "1.4 — Utility Maximization"
          href: practice/1.4-practice.qmd
        - text: "1.5 — Demand"
          href: practice/1.5-practice.qmd
        - text: "1.7 — Price Elasticity of Demand"
          href: practice/1.7-practice.qmd
        - text: "2.3 — Cost Minimization"
          href: practice/2.3-practice.qmd
        - text: "2.5 — Short Run Profit Maximization"
          href: practice/2.5-practice.qmd
        - text: "3.2 — Market Competition and Surpluses"
          href: practice/3.2-practice.qmd
        - text: "4.1 — Modeling Firms with Market Power"
          href: practice/4.1-practice.qmd
    - title: "Assignments"
      style: "docked"
      search: false
      contents:
        - section: "Assignments"
          contents:
            - assignments/index.qmd
        - section: "Problem Sets"
          contents:
            - text: "Instructions"
              href: assignments/problem-sets.qmd
            - text: "Preliminary Survey"
              href: assignments/00-preliminary-survey.qmd
            - text: "Problem Set 1"
              href: assignments/01-problem-set.qmd
            - text: "Problem Set 2"
              href: assignments/02-problem-set.qmd
            - text: "Problem Set 3"
              href: assignments/03-problem-set.qmd
            - text: "Problem Set 4"
              href: assignments/04-problem-set.qmd
            - text: "Problem Set 5"
              href: assignments/05-problem-set.qmd
            - text: "Problem Set 6"
              href: assignments/06-problem-set.qmd
        - section: "Exams"
          contents:
            - text: "Exam 1"
              href: assignments/01-exam.qmd
            - text: "Exam 2"
              href: assignments/02-exam.qmd
            - text: "Final Exam"
              href: assignments/03-exam.qmd
        - text: "Opinion-Editorial"
          href: assignments/op-ed.qmd

    - title: "Resources"
      style: "docked"
      search: true
      contents:
        - text: "Overview"
          href: resources/index.qmd
        - section: "Appendices"
          contents:
            - text: "1.2 — Budget Constraint"
              href: resources/appendices/1.2-appendix.qmd
            - text: "1.3 — Preferences"
              href: resources/appendices/1.3-appendix.qmd
            - text: "2.2 — Production Technology"
              href: resources/appendices/2.2-appendix.qmd
            - text: "2.3 — Cost Minimization"
              href: resources/appendices/2.3-appendix.qmd
            - text: "2.4 — Costs of Production"
              href: resources/appendices/2.4-appendix.qmd
            - text: "2.5 — Short Run Profit Maximization"
              href: resources/appendices/2.5-appendix.qmd
            - text: "2.6 — Long Run Industry Equilibrium"
              href: resources/appendices/2.6-appendix.qmd
            - text: "4.1 — Modeling Firms with Market Power"
              href: resources/appendices/4.1-appendix.qmd
        - section: "Math Review Guide"
          contents:
            - text: "Functions"
              href: resources/math/functions.qmd
            - text: "Graphing Linear Equations"
              href: resources/math/graphing.qmd
            - text: "Rates of Change"
              href: resources/math/changes.qmd
            - text: "Nonlinear Functions & Optimization"
              href: resources/math/nonlinear.qmd
            - text: "Solving Systems of (Linear) Equations"
              href: resources/math/equations.qmd
            - text: "Exponents & Logarithms"
              href: resources/math/exponents.qmd
        - section: "Computing Guides"
          contents:
          - href: resources/pdfs.qmd
            text: "How to Make a PDF"
        - section: "Advice"
          contents:
          - href: resources/tips.qmd
            text: "Tips for Success"
        - text: "Quotes About Economics"
          href: resources/quotes.qmd

  page-footer:
    left: |
      Content {{< fa brands creative-commons >}} {{< var course.copyright_year >}} by [{{< var instructor.name_no_title >}}]({{< var instructor.url >}}) <br>
      All content licensed under a {{< fa brands creative-commons >}}
      {{< fa brands creative-commons-by >}} {{< fa brands creative-commons-nc >}}
      [Creative Commons Attribution-NonCommercial 4.0 International license (CC BY-NC 4.0)](https://creativecommons.org/licenses/by-nc/4.0/)
    right: |
      Made with {{< fa brands r-project >}} and [Quarto](https://quarto.org/)<br>
      [View the source at {{< fa brands github >}} GitHub]({{< var course.github >}})

format:
  html:
    theme:
      - cosmo
      - html/custom.scss
    css: styles.css
    toc: true

editor: visual

